@model Vagant.Web.Models.Event.EventDetailsViewModel

@{
    ViewBag.Title = "Event Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/css/Event")
}

@section BodyScripts {
    @Scripts.Render("~/bundles/Event")
}

<div class="page event-page">
    <div class="event-body">
        <div class="row">
            <div class="col-md-8 form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.Title, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BriefDescription, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.BriefDescription, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FullDescription, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.FullDescription, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StartTime, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.StartTime, new { @class = "form-control datetimepicker" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EndTime, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.EndTime, new { @class = "form-control datetimepicker" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EventInstruments, new { @class = "col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(m => m.EventInstruments.IsGuitarUsed, new { @disabled = "disabled" }) Guitar
                        <br />
                        @Html.CheckBoxFor(m => m.EventInstruments.IsViolinUsed, new { @disabled = "disabled" }) Violin
                        <br />
                        @Html.CheckBoxFor(m => m.EventInstruments.IsVocalApplicable, new { @disabled = "disabled" }) Vocal
                    </div>
                </div>
                @if (Model.LogoId.HasValue)
                {
                    <div class="form-group">
                        <label class="col-md-2">Logo</label>
                        <div class="col-md-10">
                            <img src="@Url.Action("Download", "FileData", new { id = Model.LogoId })" />
                        </div>
                    </div>
                }
                @*@Html.HiddenFor(m => m.Location.Latitude, new { @class = "form-control", @id = "latitude" })
                @Html.HiddenFor(m => m.Location.Longitude, new { @class = "form-control", id = "longitude" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Location, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
                        <div style='overflow:hidden;height:440px;'>
                            <div id='gmap_canvas' style='height:440px;'></div>
                            <style>
                                    #gmap_canvas img {
                                        max-width: none !important;
                                        background: none !important;
                                    }
                                </style>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>

