@{
    ViewBag.Title = "Home Page";
}

@section Styles {
    @Styles.Render("~/bundles/css/Timeline")
    @Styles.Render("~/bundles/css/Home")
    
}

@section BodyScripts {
    @Scripts.Render("~/bundles/Timeline")
    @Scripts.Render("~/bundles/Home")
}

<div class="page home-page">
    <div class="home-page-header clearfix">
        <!-- ko template: { name: 'timelineTemplate', data: timeline } -->
        <!-- /ko -->
    </div>
    <div class="home-page-body clearfix">
        <div class="events-column col-xs-12 col-sm-12 col-md-9">
        </div>
        <div class="filters-column col-xs-12 col-sm-12 col-md-3">
            <div class="filters">

            </div>
            <div class="notifications">

            </div>
        </div>
    </div>
</div>

@Html.Partial("Home/_Timeline")